tests/acceptation/src/main/resources/FlightBookingService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://informatique.polytech.unice.fr/soa1/team/3/flightres/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FlightBookingService" targetNamespace="http://informatique.polytech.unice.fr/soa1/team/3/flightres/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://informatique.polytech.unice.fr/soa1/team/3/flightres/" elementFormDefault="unqualified" targetNamespace="http://informatique.polytech.unice.fr/soa1/team/3/flightres/" version="1.0">
      <xs:element name="simpleReservation" type="tns:simpleReservation"/>
      <xs:element name="simpleReservationResponse" type="tns:simpleReservationResponse"/>
      <xs:complexType name="simpleReservation">
        <xs:sequence>
          <xs:element minOccurs="0" name="simpleItineraryInfo" type="tns:simpleItineraryRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="simpleItineraryRequest">
        <xs:sequence>
          <xs:element name="departureTime" type="xs:string"/>
          <xs:element name="destinationCountry" type="xs:string"/>
          <xs:element name="id" type="xs:string"/>
          <xs:element name="originCountry" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="simpleReservationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="simple_booking" type="tns:flightReservation"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="flightReservation">
        <xs:sequence>
          <xs:element minOccurs="0" name="date" type="xs:string"/>
          <xs:element minOccurs="0" name="endingAirport" type="xs:string"/>
          <xs:element minOccurs="0" name="identifier" type="xs:string"/>
          <xs:element name="price" type="xs:float"/>
          <xs:element minOccurs="0" name="startingAirport" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="simpleReservationResponse">
    <wsdl:part element="tns:simpleReservationResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="simpleReservation">
    <wsdl:part element="tns:simpleReservation" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FlightReservation">
    <wsdl:operation name="simpleReservation">
      <wsdl:input message="tns:simpleReservation" name="simpleReservation"></wsdl:input>
      <wsdl:output message="tns:simpleReservationResponse" name="simpleReservationResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightBookingServiceSoapBinding" type="tns:FlightReservation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="simpleReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="simpleReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="simpleReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightBookingService">
    <wsdl:port binding="tns:FlightBookingServiceSoapBinding" name="ExternalFlightBookingPort">
      <soap:address location="http://localhost:8080/tta-service-rpc/FlightBookingService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>